<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Artist">
        <app-admin-artist></app-admin-artist>
    </mat-tab>
    <mat-tab label="Circus">
        <app-admin-circus></app-admin-circus>
    </mat-tab>
    <mat-tab label="Customer">
        <app-admin-customer></app-admin-customer>
    </mat-tab>
    <mat-tab label="Show">
        <app-admin-show></app-admin-show>
    </mat-tab>
    <mat-tab label="Specialty">
        <app-admin-specialty></app-admin-specialty>
    </mat-tab>

  </mat-tab-group>