<mat-accordion *ngIf="allCircus && allSpecialty">

    <mat-expansion-panel [expanded]="isOpen[0]">
        <mat-expansion-panel-header (click)="isOpen = [true, false, false]">
            <mat-panel-title>
                All the shows
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-stroked-button (click)="addNewShow()">Add a new show</button>

        <mat-table [dataSource]="allShowStream" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let show">


                    {{show.id || ''}}

                </mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let show, let i = index">
                    <span *ngIf="!whoIsModifiedShow[i]">
                        {{show.title}}
                    </span>
                    <span *ngIf="whoIsModifiedShow[i]">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Title" [(ngModel)]="showToCreate.title">
                        </mat-form-field>
                    </span>
                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="circus">
                <mat-header-cell *matHeaderCellDef> Circus </mat-header-cell>
                <mat-cell *matCellDef="let show, let i = index">

                    <span *ngIf="!whoIsModifiedShow[i]">
                        {{show.circus.title}}
                    </span>
                    <span *ngIf="whoIsModifiedShow[i]">
                        <mat-label>Circus</mat-label>
                        <mat-select [(value)]="showToCreate.circus.id">
                            <mat-option *ngFor="let circus of allCircus" [value]="circus.id">
                                {{circus.title}}
                            </mat-option>
                        </mat-select>
                    </span>

                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="modify">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let show, let i = index">
                    <span *ngIf="!whoIsModifiedShow[i]">
                        <button mat-stroked-button class="hoverButton" (click)="modifyShow(i)">Modify</button>
                    </span>
                    <span *ngIf="whoIsModifiedShow[i]">
                        <button mat-stroked-button (click)="postNewShow()">Save</button>
                    </span>
                </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="columnsToDisplayShow" class="rowShow"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayShow;" (click)="displayPerformances(row)"></mat-row>
        </mat-table>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="isOpen[1]">
        <mat-expansion-panel-header (click)="isOpen = [false, true, false]">
            <mat-panel-title>
                Performances of the show
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button (click)="addNewPerformance()">Add a new Performance</button>

        <mat-table [dataSource]="performanceStream" class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="drop($event)">

            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let performance">
                    {{performance.id || ''}}
                </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="specialty" *ngIf="allSpecialty">
                <mat-header-cell *matHeaderCellDef> Specialty </mat-header-cell>
                <mat-cell *matCellDef="let performance, let i = index">
                    <span *ngIf="!whoIsModifiedPerformance[i]">
                        {{performance.specialty.title}}
                    </span>
                    <span *ngIf="whoIsModifiedPerformance[i]">
                        <mat-label>Specialty</mat-label>
                        <mat-select [(value)]="performanceToCreate.specialty.id">
                            <mat-option *ngFor="let spe of allSpecialty" [value]="spe.id">
                                {{spe.title}}
                            </mat-option>
                        </mat-select>
                    </span>
                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="startTime">
                <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                <mat-cell *matCellDef="let performance, let i = index">
                    <span *ngIf="!whoIsModifiedPerformance[i]">
                        {{times[performance.startTime]}}
                    </span>
                    <span *ngIf="whoIsModifiedPerformance[i]">
                        <mat-label>Start Time</mat-label>
                        <mat-select [(value)]="performanceToCreate.startTime">
                            <mat-option *ngFor="let time of times, let i = index" [value]="i">
                                {{time}}
                            </mat-option>
                        </mat-select>
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                <mat-cell *matCellDef="let performance, let i = index">  
                    <span *ngIf="!whoIsModifiedPerformance[i]">
                        {{durations[performance.duration]}}
                    </span>
                    <span *ngIf="whoIsModifiedPerformance[i]">
                        <mat-label>Duration</mat-label>
                        <mat-select [(value)]="performanceToCreate.duration">
                            <mat-option *ngFor="let duration of durations, let i = index" [value]="i">
                                {{duration}}
                            </mat-option>
                        </mat-select>
                    </span>
                    </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="modify">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let show, let i = index">
                    <span *ngIf="!whoIsModifiedPerformance[i]">
                        <button mat-stroked-button (click)="modifyPerformance(i)">Modify</button>
                    </span>
                    <span *ngIf="whoIsModifiedPerformance[i]">
                        <button mat-stroked-button (click)="postNewPerformance()">Save</button>
                    </span>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="columnsToDisplayPerformance"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayPerformance;" (click)="displayArtists(row.id)" cdkDrag>
            </mat-row>
        </mat-table>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="isOpen[2]">
        <mat-expansion-panel-header (click)="isOpen = [false, false, true]">
            <mat-panel-title>
                Artist of the performance
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-table [dataSource]="artistStream" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let artist"> {{artist.id}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="specialty">
                <mat-header-cell *matHeaderCellDef> Specialty </mat-header-cell>
                <mat-cell *matCellDef="let artist"> {{artist.specialty.title}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="firstname">
                <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell *matCellDef="let artist"> {{artist.firstname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let artist"> {{artist.lastname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="artistName">
                <mat-header-cell *matHeaderCellDef> Artist Name </mat-header-cell>
                <mat-cell *matCellDef="let artist"> {{artist.artistName}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="columnsToDisplayArtist"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayArtist;"> </mat-row>
        </mat-table>
    </mat-expansion-panel>


</mat-accordion>