<div class="homeContainer">
    <div class="homePerformance">
        <div class="homePerformanceTitle">
            What to expect ?
        </div>

        <div class="homePerformanceContent">
            <div class="performanceCard">
                <div class="performanceHeader">
                    Laugh
                </div>
                <div class="performanceContent">
                    <span class="performanceEmoji">🤡</span>
                    <p>
                        As an adult, come and discover our irresistible clowns, between practical jokes and pranks let
                        yourself be carried away by their joy and fall back into childhood.
                    </p>
                </div>
                <div class="performanceFooter">

                </div>
            </div>

            <div class="performanceCard">
                <div class="performanceHeader">
                    Dream
                </div>
                <div class="performanceContent">
                    <span class="performanceEmoji">🔮</span>
                    <p>
                        Let yourself be carried away in a world where the real and the imaginary are one, in the company
                        of our talented magicians, discover a wonderful world limited only by your imagination.
                    </p>
                </div>
                <div class="performanceFooter">

                </div>
            </div>

            <div class="performanceCard">
                <div class="performanceHeader">
                    Marvel at
                </div>
                <div class="performanceContent">
                    <span class="performanceEmoji">🦁</span>
                    <p>
                        Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch
                        these fierce felines turn into sweet kittens.
                    </p>
                </div>
                <div class="performanceFooter">

                </div>
            </div>
        </div>
    </div>

    <div class="homeAboutUs">
        <div class="homeAboutUsTitle">
            About Us
        </div>
        <div class="homeAboutUsContent">
            <p>In order to celebrate our anniversary, we have prepared a whole new show we will present the 7th of
                September 2019.</p>
            <p> The Wild Circus has been rewarded several times in its existence:</p>
            <ul>
                <li>Best Circus of France 2018, 2016</li>
                <li>Best Circus of Europe 2018</li>
                <li>X-Circus Award for its Social Responsability 2017</li>
            </ul>
        </div>
    </div>

    <div class="homeInformation">
        <div class="homeInformationTitle">
            Interested ?
        </div>

        <div class="homeInformationContent">

        </div>

    </div>
</div>